.course-card {
    max-width: 250px;
    min-height: 270px;
    border: 0.7px solid var(--border-color);
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* backgroundImage: `url(${course.image})`, */
    background: linear-gradient(
        270deg,
        rgba(23, 25, 39, 0.18) 0,
        rgba(23, 25, 39, 0.13) 48.96%,
        rgba(23, 25, 39, 0.08)
    );
    background-size: cover;
    background-position: center;
    box-shadow: var(--main-shadow);
}

.course-card-content {
    padding: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
}

.course-card-title {
    font-size: 18px;
    margin: 6px 0px 15px 0px;
    color: #37687b;
    font-weight: bold;
}

.course-card-programType {
    font-size: 13px;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
}

.course-card-description {
    font-size: 13px;
    margin: 10px 0px;
    color: var(--secondary-text-color);
}

.course-card-teacher {
    font-size: 13px;
    color: var(--tertiary-text-color);
    margin-top: 10px;
    font-style: italic;
}

.course-card-level-type {
    display: flex;
    justify-content: space-between;
}

.course-card-level,
.course-card-location,
.course-card-time {
    font-size: 12px;
    color: var(--primary-text-color);
}

.course-card-time {
    margin-top: 6px;
}

.course-card-level {
    font-weight: bold;
}

.action-area {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* aligns items to the right */
    justify-content: space-between; /* maximizes space between items */
    flex-grow: 1; /* allows the container to take up remaining space */
}

.action-label {
    align-self: flex-end; /* aligns individual item to the end of the flexbox */
    margin-top: auto; /* pushes the button or label to the bottom */
}

.register-btn {
    font-size: 13px;
}

.enrolled-label {
    position: absolute;
    bottom: 15px;
    right: 20px;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    color: #0169aa;
}

@media (max-width: 768px) {
    .course-card-title,
    .course-card-description,
    .course-card-teacher {
        font-size: 0.8rem;
    }
}
