.myStudio-heading {
    margin: 10px 0px 20px 0px;
}

.course-section-heading {
    margin: 22px 0px 20px 0px;
}

.enrolled-courses {
    margin-bottom: 30px;
}

.course-section {
    margin: 20px 0px 10px;
    color: var(--primary-text-color);
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px; /* Adds space between all course cards */
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(85%);
    z-index: 1; /* to place it behind the modal */
}

.heading-with-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    color: var(--primary-text-color);
}

.search-input {
    width: 370px;
    height: 30px;
    border-radius: 6px;
    border: 0.7px solid var(--tertiary-text-color);
    padding: 0px 10px;
    font-size: 13px;
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    margin-right: 20px;
}

/* background: linear-gradient(270deg,rgba(23,25,39,.9) 0,rgba(23,25,39,.72) 48.96%,rgba(23,25,39,.54)); */
