.login {
    background: linear-gradient(90deg, #47869e 0%, #37687b 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    border-radius: 10px;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: var(--main-shadow);
}

.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    border-radius: 5px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form input:focus {
    background: #dbdbdb;
}

.form button {
    text-transform: uppercase;
    outline: 0;
    background: #014a77;
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top: 20px;
}

.form button:active {
    background: #395591;
}

.form span {
    font-size: 30px;
    color: #014a77;
    margin-bottom: 25px;
    display: block;
}

.form p.error {
    margin: 0 0 10px 10px;
    text-align: left;
    font-size: 10px;
    color: red;
}

.form button.conditional-btn {
    background: none;
    color: var(--secondary-text-color);
    text-transform: none;
    font-size: 14px;
    margin-top: 0px;
    padding-bottom: 0px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
