.header {
    display: grid;
    gap: 0px;
    padding: 0 20px;
    background-color: var(--primary-bg-color);
    border-radius: 2px;

}

.logo {
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    background-color: var(--secondary-bg-color);
    justify-content: center;
}
› .logo img {
    width: 200px;
}

.profile-block {
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
}

.welcome {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 18px;
    
}

.welcome-text {
    overflow:hidden;
    /* border-right: .15em solid white; */
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .04em;
    animation: typing 2s steps(100, end), blink-caret 1s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
} */

.quote {
    font-family: 'Caveat', cursive;
    font-size: 24px !important;
    /* font-style: italic; */
    margin-right: 10px;
    /* color: var(--primary-text-color) !important; */
}

/* -------------AVATAR------------- */
a {
    all: unset;
}

.HoverCardContent {
    border-radius: 6px;
    padding: 20px;
    width: 300px;
    background-color: white;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
        hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
    z-index: 2000;
}
.HoverCardContent[data-side='top'] {
    animation-name: slideDownAndFade;
}
.HoverCardContent[data-side='right'] {
    animation-name: slideLeftAndFade;
}
.HoverCardContent[data-side='bottom'] {
    animation-name: slideUpAndFade;
}
.HoverCardContent[data-side='left'] {
    animation-name: slideRightAndFade;
}

.HoverCardArrow {
    fill: white;
}

.ImageTrigger {
    cursor: pointer;
    border-radius: 100%;
    display: inline-block;
}
.ImageTrigger:focus {
    box-shadow: 0 0 0 2px white;
}

.Image {
    display: block;
    border-radius: 100%;
}
.Image.normal {
    width: 60px;
    height: 60px;
}
.Image.large {
    width: 85px;
    height: 85px;
}

.Text {
    margin: 0;
    color: var(--mauve-12);
    font-size: 15px;
    line-height: 1.5;
}
.Text.faded {
    color: var(--mauve-10);
}
.Text.bold {
    font-weight: 500;
}

@keyframes slideUpAndFade {
    0% {
        opacity: 0;
        transform: translateY(2px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideRightAndFade {
    0% {
        opacity: 0;
        transform: translateX(-2px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideDownAndFade {
    0% {
        opacity: 0;
        transform: translateY(-2px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideLeftAndFade {
    0% {
        opacity: 0;
        transform: translateX(2px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
