/* -------------Question Form------------- */

.question-form-root {
    background-color: #fdfeff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--main-shadow);
}

.form-field-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 25px;
}

.form-label {
    font-weight: bold;
}

/* .form-message {
    color: #8d64de;
  
  } */

.textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 4px;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    font-size: 14px;
    color: var(--primary-text-color);
}

.send-btn,
.reply-btn {
    margin-left: 0;
}

/* -------------Q&A History section------------- */

.messages-container {
    flex: 1;
    width: 100%;
    
}

.messages-list-container {
    background-color: #fdfeff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.messages-list-heading {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Individual Q&A box */
.question-answer-box {
    padding: 10px 0;
    border-bottom: 1px solid var(--border-color);
}

/* When last box, remove the bottom border */
.question-answer-box:last-child {
    border-bottom: none;
}

/* Text for question */
.question-text {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.timestamp-text {
    font-size: 12px;
    color: #888;
    margin-bottom: 10px;
}

/* Text for answer */
.answer-text {
    font-size: 14px;
    color: var(--primary-text-color);
    /* margin-top: 14px; */
    margin-bottom: 10px;
}
