/* Variables */
@import '@radix-ui/themes/styles.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/violet.css';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root {
    --primary-bg-color: #ecf0f1;
    --secondary-bg-color: #f6fafb;
    --primary-text-color: #333;
    --secondary-text-color: #666;
    --tertiary-text-color: #999;
    --quaternary-text-color: #0169aa;
    --fifth-text-color: #47869e;
    --border-color: #ccc;
    --main-bg-color: #fdfeff;
    --main-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    --border-radius: 28px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

h2 {
    font-weight: 450;
    font-size: 26px;
}

h3 {
    font-weight: 300;
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

.main-container {
    display: grid;
    padding: 20px 20px 20px 20px;
    background-color: var(--primary-bg-color);
    min-height: 100vh; /* Takes at least full viewport height */

}

.content-wrapper {
    display: flex;
    padding: 20px;
    background-color: var(--secondary-bg-color);
}

.main-content {
    flex: 1;
}

.main-content.open {
    margin-left: 150px; /* expanded sidebar width */
}

.main-content.closed {
    margin-left: 20px; /* collapsed sidebar width */
}

.primary-btn {
    font-size: 14px;
    background: linear-gradient(
        0deg,
        #37687b,
        rgba(55, 104, 123, 0.7),
        rgba(55, 104, 123, 0.4)
    );
    color: #fff;
    padding: 8px 12px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 8px;
    cursor: pointer;
    border-width: 0px;
    transition: background 1s ease;
    /* for transition */
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 90px;  /* Fixed width */
    height: 35px;  /* Fixed height */
}

.primary-btn:hover {
    background: linear-gradient(
        180deg,
        #47869e,
        rgba(71, 134, 158, 0.7),
        rgba(71, 134, 158, 0.4)
    );
}

.primary-btn::before,
.primary-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.primary-btn::before {
    background: linear-gradient(
        180deg,
        #47869e,
        rgba(71, 134, 158, 0.7),
        rgba(71, 134, 158, 0.4)
    );
    opacity: 0;
    transition: opacity 0.6s ease;
    pointer-events: none;
}

.primary-btn::after {
    content: attr(data-text);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.primary-btn:hover::before {
    opacity: 1;
}

.warning-btn {
    background: linear-gradient(
        0deg,
        #ff8c00,
        rgba(255, 140, 0, 0.7),
        rgba(255, 140, 0, 0.4)
    );
}

.warning-btn:hover {
    background: linear-gradient(
        180deg,
        #ffa500,
        rgba(255, 165, 0, 0.7),
        rgba(255, 165, 0, 0.4)
    );
}

.warning-btn::before {
    background: linear-gradient(
        180deg,
        #ffa500,
        rgba(255, 165, 0, 0.7),
        rgba(255, 165, 0, 0.4)
    );
}

.secondary-btn {
    font-size: 15px;
    background: var(--violet-5);
    color: var(--violet-11);
    padding: 8px 12px;
    /* margin-top: 10px;
    margin-left: 10px; */
    border-radius: 8px;
    cursor: pointer;
    border-width: 0px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 90px;  /* Fixed width */
    height: 35px;  /* Fixed height */
}

.secondary-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: var(--violet-7); */
    background: linear-gradient(
        180deg,
        var(--violet-6),
        rgba(160, 60, 240, 0.3),
        rgba(160, 60, 240, 0.1)
    );
    z-index: -1;
    transition: opacity 0.2s ease;
    opacity: 0;
}

.secondary-btn:hover::before {
    opacity: 1;
    background: linear-gradient(
        180deg,
        var(--violet-6),
        rgba(160, 60, 240, 0.3),
        rgba(160, 60, 240, 0.1)
    );
}
